
body{
	font-size:10px;
	font-family: georgia, verdana;
	text-align: center;
	width:1000px;
	
	margin:0 auto;
	
	
	}

}	
h1{
	font-size:60px;
	font-family:"georgia", georgia, sans-serif;
	text-align: left;
	text-transform: uppercase;
	letter-spacing:15px;
	color:Black;
}
h4{
	font-family: 'Aref Ruqaa', cursive;
	font-size:30px;
	padding-left: 30px;
	text-align:left;
	color:black;
	text-shadow: 4px 4px 4px #aaa;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: purple;
	
}
ul{
	
	font-size:15px;
	color:#b0b0b0;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-transform:uppercase;
	letter-spacing:1px;
	font-family:"verdana", verdana, sans-serif;
	word-spacing:3px;
}
li {
   float: left;
   padding-right: 7px;
  padding-bottom:10px;
}

.right{
	 padding-right: 0px;
}

.box{
	height:420px;
	width:200px;
	
	float:left;
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding-left:60px;
	padding-right:60px;
	margin-top:15px;
	color: #b0b0b0;
	font:verdana;
	border-color: black;
	padding-bottom:10px;
	}

#leftbox{
	border-left:1px solid black;	
	margin:0;
	padding-bottom:10px;
	margin-top:15px;
	
}
#footer{
	text-align:center;
	margin-top:100px;
	border:none;
	width:1000px;
	color:black;
	font-size:10px;
	letter-spacing:1px;
}
h2{
	font-size:15px;
	
	color:black;
	font-family:"verdana", verdana, sans-serif;
}
h3{font-size:15px;
		
	
	}