
h1, h2, h3, h4, h5, h6, div, li, a, p, ul, body {padding: 0px; margin: 0px;}
body
{
	width: 100%;
	text-align:center;
}	
#main_content
{
	width: 1000px;
	margin: auto;
	
}
#content
{
	text-align: center;
	width: 100%;
}
#main_image
{	
	width:100%;
	margin-top: 20px;
}
.main_box
{
	height: 100px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 49.8%;
	margin: 0px;
	border-top-style: none;
}
#top_image
{
	width: 150px;
	margin-top: 15px;
	margin-left: 25px;
	float: left;
}	
h4{
	font-family: 'Aref Ruqaa', cursive;
	font-size:30px;
	padding-left: 30px;
	text-align:left;
	color:black;
	text-shadow: 4px 4px 4px #aaa;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: purple;
	width: 100%
	
}
.footer_text
{
	color: white;

}
#main_info
{
	margin: 10px;
	text-align: left;
	font-size: 19px;
	padding: 5px;
}
#footer
{
	height: 100px;
	margin-top: 15px;
	width: 100%;
	background-color: purple;
	display: inline-block;
	text-align: center;
}

